@import "fonts";

// General CSS Start
:root {
  --bg-primary: rgb(50, 54, 58);
}

h1,
h2,
h3,
h4 {
  font-family: var(--ff-openSans);
}

img {
  max-width: 100%;
  display: block;
}

.w-15 {
  width: 15% !important;
}
// General CSS End

// Select2 CSS Start

span.select2.select2-container {
  margin-bottom: 10px;
  &:not(.select2-container--open) span.select2-search.select2-search--inline {
    height: 0;
    caret-color: transparent;
  }
}
#sub-filter-wrapper {
  ul.select2-selection__rendered {
    li {
      &.select2-selection__choice {
        margin-bottom: 0;
      }
    }
  }
}

// Select2 CSS End

body {
  font-family: var(--ff-inter);
  header {
    background-color: var(--bg-primary);
    min-height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    .container {
      .nav {
        a {
          text-decoration: none;
          color: #fff;
        }
        &.mobile {
          a {
            color: #222;
          }
        }
      }
      .mobile-nav-container {
        transition: all 0.3s ease;
        transform: translateX(-100%);
        &.active {
          transform: translateX(0);
        }
      }
      #close-mobile-nav {
        top: 10px;
        right: 30px;
      }
    }
  }
  // HOME PAGE
  &#home {
    section {
      &.hero {
        min-height: 350px;
        background-color: rgb(49, 49, 49);
        display: flex;
        align-items: center;
        justify-content: center;
        p {
          letter-spacing: 0.8px;
        }
        .meal-plan-img {
          height: 300px;
          overflow: hidden;
          border-radius: 10px;
          display: flex;
          img {
            width: 100%;
            object-fit: cover;
          }
        }
      }
    }
  }
  // LOGIN PAGE
  &#login,
  &#register {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  main {
    min-height: 850px;
    #chat-refresh {
      min-height: 300px;
      border: 2px solid #eee;
      background-color: #f3f3f3;
      max-height: 500px;
      overflow: hidden auto;
      padding: 8px;
      &::-webkit-scrollbar {
        width: 3px;
      }
      &::-webkit-scrollbar-track {
        background-color: #fff;
      }
      &::-webkit-scrollbar-thumb {
        background-color: #0d6efd;
      }
      .chat-wrapper {
        .client,
        .dev {
          min-height: 50px;
          border-radius: 20px;
          background-color: #ddd;
          display: flex;
          padding: 8px;
          flex-direction: column;
          &:not(:last-child) {
            margin-bottom: 20px;
          }
        }
        .client {
          background-color: lightgreen;
        }
        .dev {
          background-color: lightblue;
        }
      }
    }
  }

  footer {
    background-color: var(--bg-primary);
    min-height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    // position: fixed;
    // bottom: 0;
    // left: 0;
    width: 100%;
  }
}
